<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <link rel="stylesheet" href="../../css/index.css" />
    <title>Item</title>
  </head>

 <body>
  <%- include('../partials/header.ejs') %>

    <!----------Article Baby Yoda   --------------------->
<main class="container">
  <section class="item__section__container">
      <picture>
        <img
        class="item__section__picture"
          src="/img/<%= product.image_front %>"
          alt="Figura de Funko de <%= product.product_name %>, colección <%= product.licence_name %>" 
        />
      </picture>

      <article class="item__section__article">
        <p class="card-item__licence"><%= product.licence_name %></p>
        <h4 class="card-item__name item__main__section--title"><%= product.product_name %></h4>
        <p>
        <%= product.product_description %>
        </p>
        <p class="item__main__section--price " >$ <%= product.price %></p>
          <div class="item__section__article__div">
            <input type="number" id="quantity" name="quantity" min="1" placeholder="0" class="item__input" />
            <div class="sumayresta">
              <button id='add' class="suma">+</button>
              <button class="resta" id='subtract'>-</button>
            </div>
            <a class="item__form--btn" href="">
              <div class="item--center" >Agregar al Carrito</div>
            </a>
          </div>
        </div>
        <a href="" class="item__main__section--link">Ver métodos de pago - <%= product.dues %> CUOTAS SIN INTERÉS</a>
      </article>
    </section>


      <section class="slider container glide">
        <h2 class="slider__title">Productos relacionados</h2>
        <div class="glide__track" data-glide-el="track">
          <ul class="slider__items glide__slides">
            <% relatedData.forEach(product => { %>
            <li class="slider__item glide__slide">
              <article class="card-item">
                <a class="card-item__link" href="/shop/item/<%= product.product_id    %>">
                  <picture class="card-item__cover">
                    <span class="card-item__tag">NUEVO</span>
                    <img
                      class="card-item__img--front"
                      src="/img/<%= product.image_front %>"
                      alt="Figura coleccionable funko Trooper Star wars" />
                    <img
                      class="card-item__img--back"
                      src="/img/<%= product.image_back %>"
                      alt="Figura coleccionable funko Trooper Star wars en caja" />
                  </picture>

                  <div class="card-item__content">
                    <p class="card-item__licence"><%= product.licence_name %></p>
                    <h4 class="card-item__name"><%= product.product_name %></h4>
                    <p class="card-item__price">$ <%= product.price %></p>
                    <p class="card-item__promo"> <%= `${product.dues} CUOTAS SIN INTERÉS` %></p>
                  </div>
                </a>
              </article>
            </li>
            <% }) %>
          </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            <iconify-icon
              icon="tabler:chevron-up"
              rotate="270deg"></iconify-icon
            >
          </button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
            <iconify-icon
              icon="tabler:chevron-up"
              rotate="90deg"></iconify-icon>
          </button>
        </div>
      </section></main>

    <!------------------------FOOTER ------------------------------------------------->
    <%- include('../partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="/JS/GlideJS/glide.js"></script>
    <script src="/JS/itemJS/item.js"></script>
  </body>
</html>
