<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/index.css" />
    <title>Admin</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>

    <main class="container">
      <div class="admin__buscar">
        <img src="../../img/icons/search_icon.svg" alt="" />
        <form action="">
          <input
            type="text"
            id="buscar"
            name="buscar"
            placeholder="Código, nombre o categoría" />
        </form>
      </div>

      <div class="admin__table__cab">
        <h3 class="admin__table__tit">LISTADO DE PRODUCTOS</h3>
        <a href="/admin/create"
          ><div class="admin__table__agregar">
            <h3 class="">AGREGAR</h3>
            <iconify-icon
              icon="ph:plus-fill"
              class="admin__table__icon--plus"></iconify-icon></div
        ></a>
      </div>

      <table class="admin__table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Código</th>
            <th>Nombre del Producto</th>
            <th>Categoria</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach(product => { %>
          <tr>
            <td><%= product.product_id %></td>
            <td><%= product.sku %></td>
            <td><%= product.product_name %></td>
            <td><%= product.category_name%></td>
            <td>
              <a href="/admin/edit/<%= product.product_id %>">
                <iconify-icon
                  icon="mdi:pencil"
                  class="admin__table__td--icon_pencil"></iconify-icon>
              </a>
            </td>
            <td>
              <a href="/admin/delete/<%= product.product_id %>">
                <iconify-icon
                  icon="iconamoon:trash-fill"
                  class="admin__table__td--icon_trash"></iconify-icon>
              </a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </main>

    <%- include('../partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  </body>
</html>
