<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/index.css" />

    <title>FunkoShop | Home</title>
  </head>

  <body>
    <%- include('../partials/header.ejs') %>
    <section class="hero">
      <article class="hero__content container">
        <h3 class="hero__title">Nuevos Ingresos</h3>
        <p class="hero__text">Descubrí el próximo Funko Pop de tu colección</p>
        <a class="hero__link" href="/shop">SHOP</a>
      </article>
    </section>

    <main class="main-container">
      <section class="collection container">
        <article class="collection__content">
          <h3 class="collection__title">Star Wars & The Mandalorian</h3>
          <p class="collection__text">
            Disfruta de una saga que sigue agregando personajes a su colección.
          </p>
          <a class="collection__link" href="">VER COLECCIÓN</a>
        </article>

        <picture class="collection__cover">
          <img
            src="../img/star-wars/baby-yoda-1.webp"
            alt="Figura de Funko de Baby Yoda, colección Star Wars" />
        </picture>
      </section>

      <section class="collection container">
        <article class="collection__content">
          <h3 class="collection__title">POKEMON INDIGO</h3>
          <p class="collection__text">
            Atrapa todos los que puedas y disfruta de una colección llena de
            amigos.
          </p>
          <a class="collection__link" href="">VER COLECCIÓN</a>
        </article>

        <picture class="collection__cover">
          <img
            src="../img/pokemon/vulpix-1.webp"
            alt="Figura de Funko VulPix, colección Pokemon" />
        </picture>
      </section>

      <section class="collection container">
        <article class="collection__content">
          <h3 class="collection__title">HARRY POTTER</h3>
          <p class="collection__text">
            Revive los recuerdos de una saga llena de magia y encanto.
          </p>
          <a class="collection__link" href="">VER COLECCIÓN</a>
        </article>

        <picture class="collection__cover">
          <img
            src="../img/harry-potter/snape-patronus-1.webp"
            alt="Figura de Funko Snape Patronus Harry Potter" />
        </picture>
      </section>

      <section class="slider container glide">
        <h2 class="slider__title">Últimos Lanzamientos</h2>
        <div class="glide__track" data-glide-el="track">
          <ul class="slider__items glide__slides">
            <% lastProducts.forEach(product => { %>
            <li class="slider__item glide__slide">
              <article class="card-item">
                <a
                  class="card-item__link"
                  href="shop/item/<%= product.product_id %>">
                  <picture class="card-item__cover">
                    <span class="card-item__tag">NUEVO</span>
                    <img
                      class="card-item__img--front"
                      src="img/<%= product.image_front %>"
                      alt="<%= product.product_description %>" />
                    <img
                      class="card-item__img--back"
                      src="img/<%= product.image_back %>"
                      alt="<%= product.product_description %>" />
                  </picture>

                  <div class="card-item__content">
                    <p class="card-item__licence">
                      <%= product.licence_name %>
                    </p>
                    <h4 class="card-item__name"><%= product.product_name %></h4>
                    <p class="card-item__price">$ <%= product.price %></p>
                    <p class="card-item__promo">
                      <%= `En ${product.dues} cuotas sin interés` %>
                    </p>
                  </div>
                </a>
              </article>
            </li>

            <% }) %>
          </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            <iconify-icon
              icon="tabler:chevron-up"
              rotate="270deg"></iconify-icon
            >>
          </button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
            <iconify-icon
              icon="tabler:chevron-up"
              rotate="90deg"></iconify-icon>
          </button>
        </div>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="../JS/GlideJS/glide.js"></script>
  </body>
</html>
